$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.form-inline input {
    min-width: 175px;
}

#drink-cost-container {

  text-align: center;
}

#message {
  text-align: center;
}
